{% extends 'layouts/base.html' %} 
{% load static %} 

{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url({% static 'img/blog-header.jpg' %});">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="{% url 'index' %}">Home</a>
                    </span>
                    <span>Blog</span>
                </p>
                <h1 class="mb-0 bread">My Articles</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a href="{% url 'blog_new' %}" class="btn btn-primary">
                            <span class="icon-add mr-2"></span>Add New Article</a>
                    </div>
                </div>
                {% endif %} 
                <div class="row mt-5">
                    {% for article in blog %}
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <a href="/blog/{{ article.id }}" class="block-20" style="background-image: url({{ article.photo.url }});">
                            </a>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div>
                                        <a href="#">{{ article.created_at|date:"F d, o"}}</a>
                                    </div>
                                    <div>
                                        <a href="#">{{ article.author }}</a>
                                    </div>
                                </div>
                                <h3 class="heading">
                                    <a href="/blog/{{ article.id }}">{{ article.title }}</a>
                                </h3>
                                <p>{{ article.content|truncatewords:20 }}</p>
                                <p>
                                    <a href="/blog/{{ article.id }}" class="btn btn-primary py-2 px-3">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li>
                                    {% if blog.has_previous %}
                                    <a href="?page={{ blog.previous_page_number }}">&lt;</a>
                                    {% endif %}
                                </li>
                                <li class="active">
                                    <span>{{ blog.number }}</span>
                                </li>
                                <li>
                                    {% if blog.has_next %}
                                    <a href="?page={{ blog.next_page_number }}">&gt;</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form method="POST" action="{% url 'blog' %}" class="search-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <span class="icon ion-ios-search"></span>
                            <input type="text" class="form-control" name="search" placeholder="Search Blog...">
                        </div>
                    </form>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Recent Articles</h3>
                    {% for latest in recent %}
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url({{ latest.photo.url }});"></a>
                        <div class="text">
                            <h3 class="heading-1">
                                <a href="/blog/{{ latest.id }}">{{ latest.title }}</a>
                            </h3>
                            <div class="meta">
                                <div>
                                    <a href="#">
                                        <span class="icon-calendar mr-2"></span>{{ latest.created_at|date:"m-d-Y"}}</a>
                                </div>
                                <div>
                                    <a href="#">
                                        <span class="icon-person mr-2"></span> {{ latest.author }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
<!-- .section -->
{% endblock %}