{% extends 'layouts/base.html' %} 
{% load static %} 

{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url({% static 'img/inquiry-header.jpg' %});">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="{% url 'index' %}">Home</a>
                    </span>
                    <span>Inquiries</span>
                </p>
                <h1 class="mb-0 bread">{{ inquiry.title }}</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 ftco-animate">
                <h3>{{ inquiry.title }}</h3>
                <p><span class="icon-person mr-2"></span>{{ inquiry.author }} <span class="icon-calendar ml-3 mr-2"></span>{{ inquiry.created_at|date:"F d, o" }}</p>
            </div>
        </div>
        {% if user.is_authenticated and user == inquiry.author %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p><a href="/inquiries/update/{{ inquiry.id }}" class="btn btn-primary mr-3"><span class="icon-edit"></span> Edit</a><a href="/inquiries/delete/{{ inquiry.id }}" class="btn btn-primary"><span class="icon-trash"></span> Delete</a></p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>{{ inquiry.question|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}